Body{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
background-image: url(https://pngmagic.com/webp_images/geometric-style-website-hero-background_7GV.webp);
background-attachment:fixed;

}
/* hello */
*{
    margin: 0px;
    text-align: center;
}
p{
    color: aqua;
}