 :root{
        --main: #fbc531;
        --sec: #192a56;
        --bg: #5e6d80;
        }
        body{
            margin: 0;
            padding: 0;
            background-color:var(--bg) ;
            box-sizing: border-box;
            text-transform: capitalize;
        }
        h1{
            text-align: center;
            background-color: #273c75;
            margin: 20px 5%;
            margin-top: 30px;
            color: var(--main);
            border-radius: 10px;
            font-size: 50px;
            box-sizing: border-box;

        }
        .parent{
        height: 2000px;
        background-color: var(--sec);
        padding: 2px;
        display: flex;
        flex-wrap: wrap;
        align-items: ;
        align-content: start;
        justify-content: center;
        gap: 6px;
         
        }
        .child{
        height: 250px;
        background-color:rgb(2, 82, 84); 
        flex-basis: 25%;
        padding: 10px;
        border-radius: 20px;
        gap: 1px;

        
        }

        h3{
            color:#ccae62 ;
        }
        p{
            color:hsla(18, 100%, 72%, 0.789);
            font-size: 18px;
        }
        a{
            text-decoration: none;
            display: inline-block;
            margin: 10px 10p 0px 20px;
            padding: 10px 20px ;
            background-color: var(--main);
            border-radius: 10px;
            font-size: large;
            text-transform: uppercase;
            font-weight: bolder;
            transition: background-color 1s ;
        }
        a:hover{
            background-color: var(--bg);
            color:azure
            
            
        }